# name: Deploy to ECR hyungseok

# on:
 
#   push:
#     branches: [ main ]

# jobs:

#   build:

#     name: Build Image
#     runs-on: ubuntu-latest


#     steps:

#     - name: Check out code
#       uses: actions/checkout@v2
#       env:
#        message: ${{ github.event.head_commit.message }}

#     - name: Configure AWS credentials
#       uses: aws-actions/configure-aws-credentials@v1
#       with:
#         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#         aws-region: ap-northeast-2

#     - name: Login to Amazon ECR
#       id: login-ecr
#       uses: aws-actions/amazon-ecr-login@v1
      
#     - name: Build, tag, and push image to Amazon ECR
# #       env:
# #         ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
# #         ECR_REPOSITORY: hengsgg
# #         IMAGE_TAG: latest
#       run: |
#         docker build -t hengsgg .
#         docker tag hengsgg:latest 728116505069.dkr.ecr.ap-northeast-2.amazonaws.com/hengsgg:latest
#         docker push 728116505069.dkr.ecr.ap-northeast-2.amazonaws.com/hengsgg:latest
